.nav-link {
    position: relative;
}

.nav-link::after {
    content: "";
    background: black;
    position: absolute;
    left: 50%;
    bottom: -5px;
    height: 2px;
    width: 0;
    transition: 0.4s;
}

.nav-link:hover::after {
    left: 0;
    width: 100%;
}

.active-link::after {
    content: "";
    background: black;
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
}
